{%- set external_urls = {
  'github': 'https://github.com/mvinyard/cell-ann',
  'github_issues': 'https://github.com/mvinyard/cell-ann/issues',
  'docs': 'https://cell-ann.rtfd.io/en/latest',
  'twitter': 'https://twitter.com/vinyard_m',
}
-%}
